
 body{
     background-color: rgb(214, 208, 208);
 
 }
 
 #page-create-point {

    width: 90%;
    max-width: 1100px;

    margin: 0 auto ;

}

/* alinhamento de caixa  pelo lado de fora da caixa*/

#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

#page-create-point header  a {

    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}
#page-create-point header a span{
    margin-right: 16px;
    background-image: url("../img/arrow-left.svg");

    display: flex;
    width: 20px;
    height: 24px;
}

form{
    
    background-color: rgb(247, 247, 247);
    color: rgb(8, 6, 6);
    
    box-shadow: 2px 2px 3px 2px rgba(20, 20, 20, 0.24);

    margin: 80px auto;
    /*prenchimento*/
    padding: 64px;
    /*os cantos da borda*/
    border-radius: 10px;

    max-width: 720px;
   /*configuracção para tamnho da caixa*/
    
}

form h1 {
    font-size: 36px;
    
}

form fieldset{
    margin-top: 64px;

    border: 0;
}

form legend{
    margin-bottom: 40px;
}
form legend h2 {
    font-size: 24px;
}
form .field{
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}
form .field-group{
    display: flex;

}
form input,
form select{
    background-color: #dcdce2;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;
}

/*form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/

form label {
font-size: 14px;
margin-bottom: 8px;
}
form .field-group  .field + .field {
    margin-left: 24px;
}
 form button{
     width: 260px;
     height: 56px;
     border: 1;
    
     
     border-radius: 8px;
     color: rgb(247, 243, 243);
     font-weight: bold;

     margin-top: 40px;

     background-color: var(--primere-color);
     transition: backgoud-color 400ms;
 }

 form button :hover{
     background-color: #2fb86e;
 }
  .itens-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;

  }

.itens-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    cursor: pointer;

}

.itens-grid li span{
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-weight: bold;
    margin-top: 12px;

}


    .itens-grid li.selected{
        background: #dcf7e7cc;
        border: 2px solid #41f39185;
    }


    .itens-grid li img,
    .itens-grid li span{

    pointer-events: none;
    }

